@font-face {
  font-family: 'SouthGhetto';
  src: url('SouthGhetto.ttf');
}

body {
  margin: 0;
  background: #fff;
  font-family: 'SouthGhetto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
.header {
  width: 100%;
  max-width: 1200px;
  padding: 25px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 64px;
}


.nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #000;
}

.nav a:hover {
  color: gray;
}

/* MAIN TITLE */
.main-title {
  font-size: 32px;
  margin-top: 20px;
}

.purple-divider {
  width: 60%;
  height: 2px;
  background-color: #62006B;
  margin-bottom: 40px;
}

/*GRID ТУРОВ*/
.tours-grid {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  padding: 0 40px;
}

.tour-card h3 {
  margin-bottom: 15px;
}

.tour-img {
  width: 100%;
  height: 340px;
  background: #eee;
  margin-bottom: 10px;
}

/* text */
.days, .price {
  margin: 3px 0;
  font-size: 16px;
}

/* buttons */
.btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  font-family: 'SouthGhetto';
  font-size: 16px;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* outline button */
.btn-outline {
  border: 2px solid #00322C;
  background: transparent;
}

.btn-outline:hover {
  background: #00322C;
  color: white;
}

/* filled button */
.btn-main {
  background: #00322C;
  color: white;
  border: 2px solid #00322C;
}

.btn-main:hover {
  background: #62006B;
  border-color: #62006B;
  box-shadow: 0 0 10px #62006B;
}

/* === ЯРКИЕ МОМЕНТЫ === */
.moments {
  max-width: 1200px;
  width: 100%;
  padding: 40px;
}

.moments h2 {
  text-align: center;
  margin-bottom: 40px;
}

.moments-grid {
  display: grid;
  grid-template-columns: minmax(0, 45%) minmax(0, 55%);
  gap: 40px 20px;
}

.moment-img {
  width: 100%;
  height: 300px;
  background: #ddd;
}

.moment-text h3 {
  margin-top: 0;
}

.moment-text p {
  line-height: 1.3;
  font-size: 16px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 40px 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  width: 25px;
  height: 25px;
}

.logo-link {
  all: unset;        
  font-size: 64px;
  font-family: 'SouthGhetto', sans-serif;
  cursor: pointer;
  color: #000;
}

